# AWS
.aws/
aws-exports.js
awsconfiguration.json

# Build
build/
web/build/

# Dependencies
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Web specific
*.dart.js
*.info.json      
*.js             
*.js_
*.js.deps
*.js.map
web/assets/packages/

# Large files
*.pbf
*.pack
assets/texas-latest.osm.pbf

# IDE
.idea/
.vscode/
